@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas-100.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/Heavitas.svg') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 300;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 300;
    font-style: italic;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 400;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 400;
    font-style: italic;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 500;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 500;
    font-style: italic;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 600;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 600;
    font-style: italic;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 700;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 800;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 800;
    font-style: italic;

}

@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 900;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot');
    src: url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff2') format('woff2'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.woff') format('woff'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.ttf') format('truetype'),
         url('https://github.com/dylall/lac-website/raw/master/fonts/heavitas.svg') format('svg');
    font-weight: 900;
    font-style: italic;

}



