@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas-100.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/blob/master/Fonts/Heavitas.svg') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 300;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 300;
    font-style: italic;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 400;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 400;
    font-style: italic;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 500;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 500;
    font-style: italic;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 600;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 600;
    font-style: italic;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 700;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 800;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 800;
    font-style: italic;

}

@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 900;
    font-style: normal;

}



@font-face {
    font-family: 'heavitas';
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot');
    src: url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff2') format('woff2'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.woff') format('woff'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.ttf') format('truetype'),
         url('https://cdn.rawgit.com/dylall/lac-website/tree/master/fontsheavitas.svg') format('svg');
    font-weight: 900;
    font-style: italic;

}



